<!DOCTYPE html>
<html{{#match @custom.color_scheme "Dark"}} class="theme-dark"{{/match}}{{#match @custom.color_scheme "Light"}} class="theme-light"{{/match}} lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset 'css/style.css'}}">
    {{ghost_head}}
</head>

<body class='{{body_class}}{{{block "body_class"}}}'>
<div class="errythang-grid" id="the-beginning">
      <div class="avatar-wrapper">
        <a href="{{@site.url}}/#the-beginning">
          <img
            data-src="{{asset 'images/smiley-farai-madzima-3-4.jpg'}}"
            alt="Farai with a bushy beard, smiling"
            class="lazy avatar"
            src="{{asset 'images/smiley-farai-madzima-3-4.jpg'}}">
        </a>
      </div>
      <div class="nav-wrapper">
        <nav>
          <ul>
            <li>
              <a class="item-link_nav nav-coaching" href="/coaching"><span class="no-wrap">Coaching</span></a>
            </li>
            
            {{!-- <li><a class="item-link_nav" href="/workshops">Workshops</a></li> --}}
            {{!-- <li><a class="item-link_nav nav-speaking" href="../#speaking">Speaking</a></li> --}}
            {{!-- <li><a class="item-link_nav nav-contact" href="#get-in-touch">Contact</a></li> --}}
            <li><a class="item-link_nav nav-newsletter" href="/newsletter">Newsletter</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <main class="errythang-grid">
        {{{body}}}
    </main>
    <div class="errythang-grid">
      <section id="get-in-touch" class="section--with-grid">
        <h2 class="section-heading">Peace!</h2>
        <div class="section-content">
          <p>Get in touch to chat about coaching for you or your team. If you're organising an event, let's chat about a talk or a workshop.</p>
          <ul class="no-bullet">
            <li>
              <strong>Email me:</strong> farai {at} hey.com
            </li><li>
              <strong>LinkedIn:</strong>
              <a href="https://www.linkedin.com/in/farai/">https://www.linkedin.com/in/farai/</a>
            </li>
            <li>
              <strong>Twitter:</strong>
              <a href="https://twitter.com/heyfarai">@heyfarai</a>
            </li> 
          </ul>
        </div> 
      </section>
    </div>
    <div class="footer">
      <p>&copy; 2017 — 2023 Farai Madzima.</p>
      
    </div>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "{{ meta.authorFullName }}",
        "url" : "https://{{ meta.siteDomain }}",
        "homeLocation": "Ottawa, Canada",
        "sameAs" : [
          "https://twitter.com/{{ meta.twitterHandle }}",
          "{{ meta.linkedinUrl }}"
        ]
      }

{{ghost_foot}}

</body>
</html>