<html lang="{{@site.locale}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ meta_title }}</title>
    <link rel="stylesheet" href="{{asset "built/index.css"
    }}" />
    <link rel="stylesheet" href="{{asset 'built/main.css'}}" />
    <script src="{{asset 'built/index.js'}}" defer></script>
    {{
      ghost_head
    }}
  </head>

  <body class="{{ body_class }}{{{block 'body_class'}}}">
    <div class="errythang-grid" id="the-beginning">
      {{> nav }}
    </div>
    <main class="errythang-grid">{{{body}}}</main>
    <div class="errythang-grid">
      <section id="get-in-touch" class="section--with-grid">
        <h2 class="section-heading">Peace!</h2>
        <div class="section-content">
          <p>
            Get in touch to chat about coaching for you or your team. If you're organising an event,
            let's chat about a talk or a workshop.
          </p>
          <ul class="no-bullet">
            <li>
              <strong>Email me:</strong>
              farai {at} hey.com
            </li>
            <li>
              <strong>LinkedIn:</strong>
              <a href="https://www.linkedin.com/in/farai/">https://www.linkedin.com/in/farai/</a>
            </li>
            <li>
              <strong>Twitter:</strong>
              <a href="https://twitter.com/heyfarai">@heyfarai</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer">
      <p>&copy; 2017 — 2023 Farai Madzima.</p>
    </div>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Farai Madzima",
        "url": "https://heyfarai.com",
        "homeLocation": "Ottawa, Canada",
        "sameAs": ["https://twitter.com/heyfarai", "https://linkedin.com/in/farai"]
      }
    </script>

    {{ ghost_foot }}
  </body>
</html>
